
  <p-menubar [model]="topMenuItems">
    <input type="text" pInputText placeholder="Search">
</p-menubar>



 

 <!-- TEST FOR OVERLAY MENUS -->
 <!-- <p-overlayPanel #op>
  <ng-template pTemplate>
      Content
      <br/>
      Content
  </ng-template>
</p-overlayPanel>

<button pButton pRipple type="button" label="Secondary" class="p-button-secondary p-button-text" (click)="op.toggle($event)"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-secondary p-button-text" (click)="op.toggle($event)"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-secondary p-button-text" (click)="op.toggle($event)"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-secondary p-button-text" (click)="op.toggle($event)"></button>
<button pButton pRipple type="button" label="Secondary" class="p-button-secondary p-button-text" (click)="op.toggle($event)"></button>
-->
 <!-- END OF TEST FOR OVERLAY MENUS -->

