<app-topmenu></app-topmenu>

<!-- Grid Container -->
<div class="grid">
  <!-- <div  class="col-fixed" style="width:320px">

    <app-leftmenu></app-leftmenu>
  </div> -->
  <div class="col" style="border-width:1px;border-color:lightgray;border-style: solid;">
    <!-- MAIN -->
    <app-main-outer></app-main-outer>
    <!-- <br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>. -->
    
  </div>

<!-- 
  <p-splitter [style]="{'height': '1000px'}">
    <ng-template pTemplate>
        Panel 1
    </ng-template>
    <ng-template pTemplate>
        Panel 2
    </ng-template>
  </p-splitter>


  <div  class="col-fixed" style="width:60px">
    
    <button pButton type="button" label="C" (click)="togglePanel()" ></button>
  </div> -->
</div>


<app-statusbar></app-statusbar>




<!-- Button test -->
    <!-- <button pButton type="button" label="Click" ></button>
    <p-button label="Click"  #luisitoDiv></p-button>
    <button pButton type="button" icon="pi pi-check" iconPos="left"></button>
    <p-button label="Click" icon="pi pi-check" iconPos="left"></p-button>

    <button pButton type="button" icon="fas fa-address-card" iconPos="left"></button>
    <p-button label="Click" icon="fas fa-address-card" iconPos="left" class="Luis"> </p-button>

    <i class="fas fa-address-card">ss</i> -->





<!-- <p-tabView>
  <p-tabPanel header="Header 1" rightIcon="pi pi-bookmark">
     Content 1
  </p-tabPanel>
  <p-tabPanel header="Header 2" rightIcon="pi pi-bookmark">
      Content 2
  </p-tabPanel>
  <p-tabPanel header="Header 3">
      Content 3
  </p-tabPanel>
  
  <p-button label="Click" ></p-button>
</p-tabView> -->

<!-- 

<p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items3" ></p-splitButton>

<p-splitButton label="Save" icon="pi pi-check" (onClick)="save()"  [model]="items3" appendTo="luisitoDiv"></p-splitButton> -->

  <!-- Luisitodiv es el templateVariable (camelCase) -->
<!-- <ng-template #luisitoDiv><h1>GRITO</h1><p>parrafo</p></ng-template> -->

